@model Utalca.ControlAsistencia.Curso
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Horario";
}
<section class="page-title bg-gray padd-tb-10 ">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 ">
                <div class="pull-left">
                    <h3>Clases</h3>
                    <h3><b> @Html.DisplayFor(model => model.Nombre)</b> - sección @Html.DisplayFor(model => model.Seccion)</h3>
                </div>
                <ol class="breadcrumb pull-right hidden-xs">
                    <li>
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Curso")">Cursos</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Horario", "Curso")">Cursos</a>
                    </li>
                    <li class="active">clases </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="col-lg-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title" ¨> </h3>
            </div>
            <table class="table table table-bordered table-responsive table-striped">
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Clase</th>
                    <th>Sala</th>
                    <th width="15%">Registro Asistencia</th>
                    @foreach (var clase in Model.Horario)
                    {
                    <tr>
                        <td>@clase.Fecha.ToString("dd-MM-yyyy")</td>
                        <td>@clase.Fecha.ToString("HH:mm")</td>
                        <td>@clase.Titulo</td>
                        <td>@clase.Sala.Nombre</td>
                        <td><a class="btn btn-info" href="@Url.Action("RegistroAsistencia", "Curso", new { id = Model.ID, fecha = clase.Fecha.ToString("ddMMyyyyHHmm") })">Registrar Asistencia </a></td>
                    </tr>
                    }
                </table>
            </div>
        </div>
</div>











