@model IEnumerable<Utalca.ControlAsistencia.Curso>
@{
    Layout = "~/Views/Shared/_LayoutAlumno.cshtml";
    ViewBag.Title = "Cursos";
}

    <div class="wrapper"> </div>
    <section class="page-title bg-gray padd-tb-10 ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 ">
                    <div class="pull-left">
                        <h3>Cursos</h3>
                    </div>
                    <ol class="breadcrumb pull-right hidden-xs">
                        <li>
                            <a href="@Url.Action("IndexAlumno", "Home")">Home</a>
                        </li>
                        <li class="active">Cursos </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

<div class="container">
    <section class="padd-tb-30 ">
        <div class="container">
            <div class="row">
                <div class="tab-content">
                    <div id="lista" class="tab-pane active" role="tabpanel">
                        <div class="testimonial">
                            <table class="table testimonial">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Creditos)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ImagenURL)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Nombre)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Seccion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.URL)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Creditos)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ImagenURL)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Seccion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.URL)
                                        </td>
                                        <td>

                                            @Html.ActionLink("Details", "DetailsAlumno", new { id = item.ID }) 
                                        </td>
                                    </tr>
                                }

                            </table>

                        </div>
                    </div>
                </div>






            </div>
        </div>
    </section>





</div>