@model IEnumerable<Utalca.ControlAsistencia.Curso>
@{
    ViewBag.Title = "Cursos";
}

<head>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>

<body class="wide" style="overflow: visible;>

    <div class="wrapper"> </div>
    <section class="page-title bg-gray padd-tb-10 ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 ">
                    <div class="pull-left">
                        <h3>Cursos</h3>
                    </div>
                    <ol class="breadcrumb pull-right hidden-xs">
                        <li>
                            <a href="@Url.Action("Index", "Home")">Home</a>
                        </li>
                        <li class="active">Cursos </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="padd-tb-30 active">
        <div class="container">
            <div class="row">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Creditos)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ImagenURL)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Seccion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.URL)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Creditos)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImagenURL)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Seccion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.URL)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </td>
                        </tr>
                    }

                </table>



            </div>
        </div>
    </section>
</body>




