@model Utalca.ControlAsistencia.Curso

@{ 
    Utalca.ControlAsistencia.Clase clase = Model.Horario.Where(c => c.Fecha.ToString("ddMMyyyyHHmm") == @Request.QueryString["fecha"]).Single();
}

<div>
    <h1>Registro Asistencia</h1>
    <table class="table">
        <tr>
            <th>Nombre</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var participante in Model.Alumnos)
        {
        <tr>
            <td>@participante.Nombre</td>
            <td >
                <input id="chkAlumno-@participante.ID" name="chkAlumno-@participante.ID" value="@participante.ID" class="check" type="checkbox"
                      
                       @{if (clase.Presentes.Any(c => c.ID == @participante.ID))
                       { 
                    
                            @Html.Raw("disabled && checked");
                        } 
                  } />
            </td>
        </tr>
        }
    </table>
</div>
<script>
    $(document).ready(function(){
        console.log("estamos ready");
        $("input[name^='chkAlumno-']").on("click", function () {
            console.log('me tocaron');
            $.ajax({
                url: '/api/CursoApi/RegistroAsistencia',
                data: { idCurso: @Model.ID, idClase: @clase.Fecha.ToString("yyyyMMddHHmm"), idParticipante: $(this).val() },
                accepts: 'application/json',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                method: 'POST',
                success: function(respuesta) { console.log(respuesta); }
            });
            $(':checkbox[readonly=readonly]').click(function(){
               
                return false;        
               
            });

        });
       
    });
</script>