@model Utalca.ControlAsistencia.Curso

@{ 
    Utalca.ControlAsistencia.Clase clase = Model.Horario.Where(c => c.Fecha.ToString("ddMMyyyyHHmm") == @Request.QueryString["fecha"]).Single();
}

<div>
    <h1>Registro Asistencia</h1>
    <table class="table">
        <tr>
            <th>Nombre</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var participante in Model.Alumnos)
        {
            // var isPresente = clase.Presentes.Single(p => p.ID == participante.ID);
            if (clase.Presentes.Any())
            {
                <tr>
                    <td>@participante.Nombre</td>
                    <td><input type="checkbox" name="chkAlumno-@participante.ID" value="@participante.ID"></td>
                    <td> @clase.Fecha</td>
                </tr>

            }
            else
            {
                <tr>
                    <td>@participante.Nombre</td>
                    @if (clase.Presentes.Single(p => p.ID == participante.ID).ID == participante.ID)
                    {
                        <td><input type="checkbox" name="chkAlumno-@participante.ID" value="@participante.ID" checked="checked"></td>
                        <td> @clase.Fecha</td>
                    }
                    else
                    {
                        <td><input type="checkbox" name="chkAlumno-@participante.ID" value="@participante.ID"></td>
                    }       

                </tr>
            }
        }

    </table>
</div>
<script>
    $(document).ready(function(){
        console.log("estamos ready");
        $("input[name^='chkAlumno-']").on("click", function () {
            console.log('me tocaron');
            $.ajax({
                url: '/api/CursoApi/RegistroAsistencia',
                data: { idCurso: @Model.ID, idClase: @clase.Fecha.ToString("ddMMyyyy"), idParticipante: $(this).val() },
                accepts: 'application/json',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                method: 'POST',
                success: function(respuesta) { console.log(respuesta); }
            });

        });
    });
</script>